templates/n8n_workflow.json
{
  "name": "Clonehaus Governed Agent - {{agent_name}}",
  "nodes": [
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "governance_block",
              "value": "{{governance_block}}"
            }
          ]
        },
        "options": {}
      },
      "id": "9b7e0d26-8b53-4c26-8fef-6d5dcf1e6d01",
      "name": "Input Validation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const item = items[0];\nconst payload = item.json || {};\n\nconst normalize = (value) => String(value || '').trim().toUpperCase();\nconst escapeReason = (value) => String(value || '').trim();\nconst toArray = (value) => {\n  if (Array.isArray(value)) return value;\n  if (!value) return [];\n  return String(value)\n    .split(/\\n|,/) \n    .map((entry) => entry.replace(/^-\\s*/, '').trim())\n    .filter(Boolean);\n};\n\nconst rank = (value, map, label) => {\n  if (!value) return 0;\n  if (!(value in map)) {\n    throw new Error(`Unknown ${label}: ${value}`);\n  }\n  return map[value];\n};\n\nconst decisionRank = {\n  INFORMATIONAL: 1,\n  ADVISORY: 2,\n  OPERATIONAL: 3,\n  TRANSACTIONAL: 4,\n  STRATEGIC: 5,\n};\nconst dataRank = {\n  PUBLIC: 1,\n  INTERNAL: 2,\n  CONFIDENTIAL: 3,\n  RESTRICTED: 4,\n};\nconst commRank = {\n  INTERNAL_ONLY: 1,\n  CLIENT_ROUTINE: 2,\n  ADVISORY: 3,\n  PARTNER: 4,\n  PUBLIC: 5,\n  LEADERSHIP: 6,\n};\nconst systemRank = {\n  READ_ONLY: 1,\n  WRITE_LIMITED: 2,\n  WRITE_BROAD: 3,\n  ADMIN: 4,\n};\n\nconst allowed = {\n  decision: normalize('{{decision_level}}'),\n  data: normalize('{{data_ceiling}}'),\n  comm: normalize('{{comm_scope}}'),\n  system: normalize('{{system_access}}'),\n};\n\nconst requested = {\n  decision: normalize(payload.action_decision_level || payload.decision_level || allowed.decision),\n  data: normalize(payload.data_classification || payload.data_level || allowed.data),\n  comm: normalize(payload.recipient_scope || payload.communication_scope || allowed.comm),\n  system: normalize(payload.requested_system_access || payload.system_access || allowed.system),\n};\n\nif (rank(requested.decision, decisionRank, 'decision level') > rank(allowed.decision, decisionRank, 'decision level')) {\n  throw new Error(`Authority violation: requested decision level ${requested.decision} exceeds ${allowed.decision}`);\n}\nif (rank(requested.data, dataRank, 'data level') > rank(allowed.data, dataRank, 'data level')) {\n  throw new Error(`Authority violation: requested data access ${requested.data} exceeds ${allowed.data}`);\n}\nif (rank(requested.comm, commRank, 'communication scope') > rank(allowed.comm, commRank, 'communication scope')) {\n  throw new Error(`Authority violation: requested communication scope ${requested.comm} exceeds ${allowed.comm}`);\n}\nif (rank(requested.system, systemRank, 'system access') > rank(allowed.system, systemRank, 'system access')) {\n  throw new Error(`Authority violation: requested system access ${requested.system} exceeds ${allowed.system}`);\n}\n\nconst triggers = toArray(`{{escalation_triggers}}`).map((entry) => entry.toLowerCase());\nconst riskFlags = toArray(payload.risk_flags).map((entry) => entry.toLowerCase());\nconst stakeholders = toArray(payload.stakeholders).map((entry) => entry.toLowerCase());\nconst customEscalationReason = escapeReason(payload.escalation_reason);\n\nlet requiresEscalation = false;\nlet escalationReason = customEscalationReason || '';\n\nif (triggers.includes('scope boundary') && payload.out_of_scope) {\n  requiresEscalation = true;\n  escalationReason = escalationReason || 'Escalation trigger matched: scope boundary';\n}\nif (triggers.includes('risk or sensitivity') && riskFlags.length > 0) {\n  requiresEscalation = true;\n  escalationReason = escalationReason || 'Escalation trigger matched: risk or sensitivity';\n}\nif (triggers.includes('ambiguity') && payload.ambiguous) {\n  requiresEscalation = true;\n  escalationReason = escalationReason || 'Escalation trigger matched: ambiguity';\n}\nif (triggers.includes('key stakeholder') && stakeholders.length > 0) {\n  requiresEscalation = true;\n  escalationReason = escalationReason || 'Escalation trigger matched: key stakeholder';\n}\nif (triggers.includes('authority ceiling') && payload.near_authority_limit) {\n  requiresEscalation = true;\n  escalationReason = escalationReason || 'Escalation trigger matched: authority ceiling';\n}\nif (payload.force_escalation === true) {\n  requiresEscalation = true;\n  escalationReason = escalationReason || 'Escalation forced by upstream system';\n}\n\nitem.json.requires_escalation = requiresEscalation;\nitem.json.escalation_reason = escalationReason || 'Human review required by governance policy';\nitem.json.allowed_authority = allowed;\nitem.json.requested_authority = requested;\n\nreturn items;"
      },
      "id": "884d17d3-310e-4999-b3d5-003525c16808",
      "name": "Governance Check",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4', max_tokens: 1024, system: $node['Input Validation'].json['governance_block'], messages: [{ role: 'user', content: $json.query || $json.user_query || $json.input || 'No user query provided.' }] }) }}",
        "options": {}
      },
      "id": "25577569-cc1c-4f79-8ad7-dbf83e1318cf",
      "name": "Claude API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{$node[\"Governance Check\"].json[\"requires_escalation\"]}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9998cc9e-1f4b-4a35-a6b1-6b67f55b28fe",
      "name": "Escalation Decision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1020,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ agent: '{{agent_name}}', status: 'executed', response: ($json.content && $json.content[0] && $json.content[0].text) || $json.content || $json }) }}",
        "options": {}
      },
      "id": "abb34c18-1b01-4baa-b5f0-d3625d87c7c0",
      "name": "Execute Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1280,
        420
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#agent-escalations",
        "text": "=Clonehaus escalation for {{agent_name}}\\nReason: {{$node[\"Governance Check\"].json[\"escalation_reason\"]}}\\nDecision: {{decision_level}}\\nData: {{data_ceiling}}\\nCommunication: {{comm_scope}}\\nSystem: {{system_access}}",
        "otherOptions": {}
      },
      "id": "0e1ac1ff-8a34-4ea1-8f45-3f0f724fb999",
      "name": "Escalate to Human",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1280,
        180
      ]
    }
  ],
  "connections": {
    "Input Validation": {
      "main": [
        [
          {
            "node": "Governance Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Governance Check": {
      "main": [
        [
          {
            "node": "Claude API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API Call": {
      "main": [
        [
          {
            "node": "Escalation Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalation Decision": {
      "main": [
        [
          {
            "node": "Escalate to Human",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": []
}
